# Preparación del ambiente

In [66]:
import pandas as pd
import glob
import os

In [85]:

catalogo_paises = pd.read_csv(r'/home/dasher0n/Descargas/raiavl_mensual_exportacion_csv/catalogos/tc_pais_destino.csv')
diccionario_paises = dict(zip(catalogo_paises['ID_PAIS_DESTINO'], catalogo_paises['DESC_PAIS_DESTINO']))

In [68]:

carpeta = r'/home/dasher0n/Descargas/raiavl_mensual_exportacion_csv/conjunto_de_datos'

archivos = glob.glob(os.path.join(carpeta, '*.csv'))

dfs = [pd.read_csv(f) for f in archivos]

df_total = pd.concat(dfs, ignore_index=True)

print(f"Se importaron {len(archivos)} archivos y el DataFrame resultante tiene {df_total.shape[0]} filas.")

Se importaron 21 archivos y el DataFrame resultante tiene 165180 filas.

In [69]:
df_total

,PROD_EST,COBERTURA,ANIO,ID_MES,MARCA,MODELO,TIPO,SEGMENTO,ID_PAIS_DESTINO,UNI_VEH
0,Registro Administrativo de la Industria Automo...,Nacional,2009,1,Chrysler,Crew Cab-,Camiones ligeros,Pick Ups,40,0
1,Registro Administrativo de la Industria Automo...,Nacional,2009,1,Chrysler,Crew Cab-,Camiones ligeros,Pick Ups,66,0
2,Registro Administrativo de la Industria Automo...,Nacional,2009,1,Chrysler,Crew Cab-,Camiones ligeros,Pick Ups,999,0
3,Registro Administrativo de la Industria Automo...,Nacional,2009,1,Chrysler,Journey,Camiones ligeros,SUV's,40,167
4,Registro Administrativo de la Industria Automo...,Nacional,2009,1,Chrysler,Journey,Camiones ligeros,SUV's,66,975
...,...,...,...,...,...,...,...,...,...,...
165175,Registro Administrativo de la Industria Automo...,Nacional,2018,12,Volkswagen,Tiguan-,Camiones ligeros,SUV's,175,42
165176,Registro Administrativo de la Industria Automo...,Nacional,2018,12,Volkswagen,Tiguan-,Camiones ligeros,SUV's,187,0
165177,Registro Administrativo de la Industria Automo...,Nacional,2018,12,Volkswagen,Tiguan-,Camiones ligeros,SUV's,219,0
165178,Registro Administrativo de la Industria Automo...,Nacional,2018,12,Volkswagen,Tiguan-,Camiones ligeros,SUV's,224,0
165179,Registro Administrativo de la Industria Automo...,Nacional,2018,12,Volkswagen,Tiguan-,Camiones ligeros,SUV's,231,61

# Analisis estadístico

In [70]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165180 entries, 0 to 165179
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PROD_EST         165180 non-null  object
 1   COBERTURA        165180 non-null  object
 2   ANIO             165180 non-null  int64
 3   ID_MES           165180 non-null  int64
 4   MARCA            165180 non-null  object
 5   MODELO           165180 non-null  object
 6   TIPO             165180 non-null  object
 7   SEGMENTO         165180 non-null  object
 8   ID_PAIS_DESTINO  165180 non-null  int64
 9   UNI_VEH          165180 non-null  int64
dtypes: int64(4), object(6)
memory usage: 12.6+ MB

In [71]:
df_total.describe()

                ANIO         ID_MES  ID_PAIS_DESTINO        UNI_VEH
count  165180.000000  165180.000000    165180.000000  165180.000000
mean     2018.311212       6.505285       121.745514     304.722297
std         4.999798       3.487291       164.931914    1599.094535
min      2005.000000       1.000000         3.000000   -3228.000000
25%      2015.000000       3.000000        42.000000       0.000000
50%      2020.000000       7.000000        66.000000       0.000000
75%      2022.000000      10.000000       172.000000      17.000000
max      2025.000000      12.000000       999.000000   39281.000000

In [72]:
# Conteo de valores nulos por columna
nulos = df_total.isnull().sum()
print("Conteo de valores nulos por columna:")
print(nulos)

# Estadísticas descriptivas generales
print("\nEstadísticas descriptivas generales:")
print(df_total.describe())

# Media de cada columna numérica
media = df_total.mean(numeric_only=True)
print("\nMedia de cada columna numérica:")
print(media)

# Mediana de cada columna numérica
mediana = df_total.median(numeric_only=True)
print("\nMediana de cada columna numérica:")
print(mediana)

# Moda de cada columna
moda = df_total.mode().iloc[0]
print("\nModa de cada columna:")
print(moda)

Conteo de valores nulos por columna:
PROD_EST           0
COBERTURA          0
ANIO               0
ID_MES             0
MARCA              0
MODELO             0
TIPO               0
SEGMENTO           0
ID_PAIS_DESTINO    0
UNI_VEH            0
dtype: int64

Estadísticas descriptivas generales:
                ANIO         ID_MES  ID_PAIS_DESTINO        UNI_VEH
count  165180.000000  165180.000000    165180.000000  165180.000000
mean     2018.311212       6.505285       121.745514     304.722297
std         4.999798       3.487291       164.931914    1599.094535
min      2005.000000       1.000000         3.000000   -3228.000000
25%      2015.000000       3.000000        42.000000       0.000000
50%      2020.000000       7.000000        66.000000       0.000000
75%      2022.000000      10.000000       172.000000      17.000000
max      2025.000000      12.000000       999.000000   39281.000000

Media de cada columna numérica:
ANIO               2018.311212
ID_MES                6.505285
ID_PAIS_DESTINO     121.745514
UNI_VEH             304.722297
dtype: float64

Mediana de cada columna numérica:
ANIO               2020.0
ID_MES                7.0
ID_PAIS_DESTINO      66.0
UNI_VEH               0.0
dtype: float64

Moda de cada columna:
PROD_EST           Registro Administrativo de la Industria Automo...
COBERTURA                                                   Nacional
ANIO                                                            2024
ID_MES                                                             3
MARCA                                                         Nissan
MODELO                                                        Beetle
TIPO                                                     Automóviles
SEGMENTO                                                   Compactos
ID_PAIS_DESTINO                                                   66
UNI_VEH                                                            0
Name: 0, dtype: object

## Verificación de Inconsistencias

### ID_PAIS_DESTINO

Se verifica que todos los ID de paises esten contenidos en el catalogo

In [73]:
valores_unicos = set(df_total['ID_PAIS_DESTINO'].unique())
claves_diccionario = set(diccionario_paises.keys())

valores_faltantes = valores_unicos - claves_diccionario

if valores_faltantes:
    print(f"Los siguientes valores de ID_PAIS_DESTINO no están en el diccionario: {valores_faltantes}")
else:
    print("Todos los valores únicos de ID_PAIS_DESTINO están contenidos en el catalogo.")

Todos los valores únicos de ID_PAIS_DESTINO están contenidos en el catalogo.

### UNI_VEH

Verificamos si hay registros menores a 0

In [76]:
registros_negativos = df_total[df_total['UNI_VEH'] < 0]
print(f"Se encontraron {len(registros_negativos)} registros con UNI_VEH negativos.")
print(f"Procentaje de registros negativos: {len(registros_negativos) / len(df_total) * 100:.2f}%")

Se encontraron 140 registros con UNI_VEH negativos.
Procentaje de registros negativos: 0.08%

### ANIO

Verificamos que los valores unicos de ANIO coincidan con los esperados (1-12)

In [84]:
valores_unicos_anio = df_total['ANIO'].unique()
print("Valores únicos de ANIO:")
sorted(valores_unicos_anio)

Valores únicos de ANIO:

[np.int64(2005),
 np.int64(2006),
 np.int64(2007),
 np.int64(2008),
 np.int64(2009),
 np.int64(2010),
 np.int64(2011),
 np.int64(2012),
 np.int64(2013),
 np.int64(2014),
 np.int64(2015),
 np.int64(2016),
 np.int64(2017),
 np.int64(2018),
 np.int64(2019),
 np.int64(2020),
 np.int64(2021),
 np.int64(2022),
 np.int64(2023),
 np.int64(2024),
 np.int64(2025)]

# Limpieza de Datos

## Datos Incongruentes

Con el analisís estadístico vimos que existen valores negativos en la columna UNI_VEH, el diccionario de datos especifica que el campo UNI_VEH tiene un rango mayor a 0, por lo que los datos que contengan números negativos se consideraran erroneos

Al representar solo el 0.08% de los datos totales hemos decicido prescindir de estos datos y eliminarlos para mantener la consistencia en el analisís.

In [78]:
print(f"Núero de filas antes del borrado :",df_total.shape[0])
df_clean = df_total[df_total['UNI_VEH'] >= 0].copy()
print(f"El DataFrame ahora tiene {df_clean.shape[0]} filas.")

Núero de filas antes del borrado : 165180
El DataFrame ahora tiene 165040 filas.

In [80]:
df_clean.reset_index(drop=True, inplace=True)
df_clean

,PROD_EST,COBERTURA,ANIO,ID_MES,MARCA,MODELO,TIPO,SEGMENTO,ID_PAIS_DESTINO,UNI_VEH
0,Registro Administrativo de la Industria Automo...,Nacional,2009,1,Chrysler,Crew Cab-,Camiones ligeros,Pick Ups,40,0
1,Registro Administrativo de la Industria Automo...,Nacional,2009,1,Chrysler,Crew Cab-,Camiones ligeros,Pick Ups,66,0
2,Registro Administrativo de la Industria Automo...,Nacional,2009,1,Chrysler,Crew Cab-,Camiones ligeros,Pick Ups,999,0
3,Registro Administrativo de la Industria Automo...,Nacional,2009,1,Chrysler,Journey,Camiones ligeros,SUV's,40,167
4,Registro Administrativo de la Industria Automo...,Nacional,2009,1,Chrysler,Journey,Camiones ligeros,SUV's,66,975
...,...,...,...,...,...,...,...,...,...,...
165035,Registro Administrativo de la Industria Automo...,Nacional,2018,12,Volkswagen,Tiguan-,Camiones ligeros,SUV's,175,42
165036,Registro Administrativo de la Industria Automo...,Nacional,2018,12,Volkswagen,Tiguan-,Camiones ligeros,SUV's,187,0
165037,Registro Administrativo de la Industria Automo...,Nacional,2018,12,Volkswagen,Tiguan-,Camiones ligeros,SUV's,219,0
165038,Registro Administrativo de la Industria Automo...,Nacional,2018,12,Volkswagen,Tiguan-,Camiones ligeros,SUV's,224,0
165039,Registro Administrativo de la Industria Automo...,Nacional,2018,12,Volkswagen,Tiguan-,Camiones ligeros,SUV's,231,61